@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

* {
    margin: 0%;
    padding: 0%;
    width: fit-content;
}

header {
    height: 586px;
    background-color: #74C69D;
}

nav {
    padding-top: 35px;
    padding-left: 131px;
    padding-right: 134px;
    width: 1175px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.logo {
    width: 187px;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
    display: inline-flex;
}

.logotxt {
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}

.nav_menu {
    width: 391px;
    height: 25px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    display: inline-flex;
}

.nav_menu>a {
    text-align: right;
    color: white;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
    text-decoration: none;
}

.mainhead {
    width: 1180.28px;
    height: 378.13px;
    justify-content: flex-start;
    align-items: center;
    gap: 120px;
    display: inline-flex;
    padding-top: 40px;
    padding-left: 130px;
    padding-right: 129.72px;
}

.headinfo {
    width: 416px;
    height: 299px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    display: inline-flex;
}

.infotxt {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    display: flex;
}

.infotxt>h1 {
    color: white;
    font-size: 16px;
    font-family: Work Sans;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 5px;
    word-wrap: break-word;
}

.infotxt>h2 {
    width: 416px;
    color: white;
    font-size: 40px;
    font-family: Crimson Text;
    font-weight: 700;
    line-height: 50px;
    word-wrap: break-word;
}

.infotxt>p {
    width: 416px;
    color: #FFFFFFBF;
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 18.75px;
    word-wrap: break-word;
}

.header_button {
    width: 170px;
    height: 48px;
    position: relative;
}

.header_button>button {
    width: 170px;
    height: 48px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
    border-radius: 5px;
    border: #FFF;
}

.header_button>button>b {
    left: 47.50px;
    top: 13px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
}

.partners {
    padding-top: 60px;
    padding-left: 137px;
    padding-right: 144.02px;
    height: 370px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 55px;
    display: inline-flex;
}

.partners_txt {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: flex;
}

.partners_txt>h1 {
    text-align: center;
    color: #74C69D;
    font-size: 16px;
    font-family: Work Sans;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 5px;
    word-wrap: break-word;
}

.partners_txt>h2 {
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: Crimson Text;
    font-weight: 700;
    line-height: 50px;
    word-wrap: break-word;
}

.partners_txt>p {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
}

.partners_imgs {
    justify-content: center;
    align-items: center;
    gap: 68px;
    display: inline-flex;
}

.partners_button {
    width: 170px;
    height: 48px;
    position: relative;
}

.partners_button>button {
    width: 170px;
    height: 48px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #212529;
    border-radius: 5px;
    border: #212529;
}

.partners_button>button>b {
    left: 29.50px;
    top: 13px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
}

.about1 {
    height: 431.43px;
    justify-content: space-between;
    align-items: center;
    gap: 52px;
    display: inline-flex;
    padding-top: 73px;
    padding-left: 126px;
    padding-right: 134px;
}

.about1>img {
    width: 600px;
    height: 431.43px;

}

.about1_txt {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: inline-flex;
}

.about1_txt>h2 {
    width: 462px;
    color: #212529;
    font-size: 40px;
    font-family: Crimson Text;
    font-weight: 700;
    line-height: 50px;
    word-wrap: break-word;
}

.about1_txt>p {
    width: 470px;
    height: 75px;
    color: rgba(33, 37, 41, 0.50);
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 18.75px;
    word-wrap: break-word;
}

.about1_button {
    width: 170px;
    height: 48px;
    position: relative;
}

.about1_button>button {
    width: 170px;
    height: 48px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #212529;
    border-radius: 5px;
    border: #212529;
}

.about1_button>button>b {
    left: 29.50px;
    top: 13px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
}

.about2 {
    height: 565.73px;
    justify-content: space-between;
    align-items: center;
    gap: 141px;
    display: inline-flex;
    padding-top: 73.57px;
    padding-left: 126px;
    padding-right: 134px;
}

.about2_txt {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: inline-flex;
}

.about2_txt>h2 {
    width: 470px;
    color: #212529;
    font-size: 40px;
    font-family: Crimson Text;
    font-weight: 700;
    line-height: 50px;
    word-wrap: break-word;
}

.about2_txt>p {
    width: 470px;
    height: 75px;
    color: rgba(33, 37, 41, 0.50);
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 18.75px;
    word-wrap: break-word;
}

.about2_button {
    width: 170px;
    height: 48px;
    position: relative;
}

.about2_button>button {
    width: 170px;
    height: 48px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #212529;
    border-radius: 5px;
    border: #212529;
}

.about2_button>button>b {
    left: 29.50px;
    top: 13px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-wordı
}

.about2>img {
    width: 600px;
    height: 565.73px;

}

.team {
    height: 599px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
    display: inline-flex;
    padding: 102.27px 136px 54px 128px;
}

.team_txt {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: flex;
}

.team_txt>h1 {
    text-align: center;
    color: #74C69D;
    font-size: 16px;
    font-family: Work Sans;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 5px;
    word-wrap: break-word;
}

.team_txt>h2 {
    text-align: center;
    color: #212529;
    font-size: 40px;
    font-family: Crimson Text;
    font-weight: 700;
    line-height: 50px;
    word-wrap: break-word;
}

.team_txt>p {
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
}

.team_imgs {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 47px;
    display: inline-flex;
}

.member1 {
    width: 279px;
    height: 299px;
    position: relative;
}

.member2,
.member3,
.member4 {
    width: 252px;
    height: 299px;
    position: relative;
}

.member1_box {
    width: 279px;
    height: 299px;
    background: white;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.member2_box,
.member3_box,
.member4_box {
    width: 252px;
    height: 299px;
    background: white;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.member1_info,
.member2_info,
.member3_info,
.member4_info {
    width: 202px;
    height: 260px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 19px;
    display: inline-flex;
}

.member1_info {
    padding: 20px 39px 19px 38px;
}

.member2_info,
.member3_info,
.member4_info{
    padding: 20px 25px 19px 25px;
}

.member1_info>img {
    width: 175px;
    height: 175px;
    position: relative;
}

.member1_txt,
.member2_txt,
.member3_txt,
.member4_txt {
    width: 202px;
    height: 66px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 17px;
    display: inline-flex;
}

.member1_txt>h3,
.member2_txt>h3,
.member3_txt>h3,
.member4_txt>h3 {
    color: #212529;
    font-size: 24px;
    font-family: Crimson Text;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
}

.member1_txt>p,
.member2_txt>p,
.member3_txt>p,
.member4_txt>p {
    width: 202px;
    color: rgba(33, 37, 41, 0.75);
    font-size: 15px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 18.75px;
    word-wrap: break-word;
    text-transform: uppercase;
}

.team_button {
    width: 170px;
    height: 48px;
    position: relative;
}

.team_button>button {
    width: 170px;
    height: 48px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #212529;
    border-radius: 5px;
    border: #212529;
}

.team_button>button>b {
    left: 32.50px;
    top: 13px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
}

footer {
    height: 125px;
    background: #74C69D;
}

.footer_part {
    width: 1178px;
    height: 25px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    padding: 51px 131px 49px 131px;
}

.footer_icons {
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    display: flex
}

.footer_part>p {
    text-align: right;
    color: white;
    font-size: 20px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
    width: 326px;
    height: 25px;
}

@media only screen and (max-width: 600px) {}
